<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Estilo.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/Content/assets/form-basic.css" />
    <link rel="stylesheet" href="~/Content/assets/demo.css" />
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="~/Content/buttons.dataTables.min.css"/>
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="~/Scripts/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/Scripts/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/Scripts/chart.loader.js"></script>
    <script type="text/javascript" src="~/Scripts/jszip.min.js"></script>
</head>
<body>
    <!--Se inicio pagar menu-->
    <nav id="navtop">
        <div class="container-fluid">
            <!--header navbar top left -->
            <ul class="nav navbar-nav" id="nav-left">
                <li>
                    <a href="#">
                        <i class="fa fa-user" aria-hidden="true"></i>INGRESO MÉDICO
                    </a>
                </li>
            </ul>
            <!--header navbar top right -->
            <ul class="nav navbar-nav nav-pills" id="nav-right">
                <li>
                    <a href="#">
                        <i class="fa fa-search" aria-hidden="true"></i>BUSCAR
                    </a>
                </li>
                <li><button type="btn btn-default navbar-btn">ENG</button></li>
                <li><button type="btn btn-default navbar-btn">ESP</button></li>
            </ul>
        </div>
    </nav>
    <!--header navbar LOGO -->
    <div class="text-center" id="logo">
        <a href="#"><img src="~/Imagenes/logoconcordia.jpg" alt="logo" /></a>
    </div>
    <!-- TOOGLE MAIN NAVIGATION -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!--  MAIN NAVIGATION -->
    <div class="collapse navbar-collapse" id="main-navigation">
        <div class="container">
            <ul class="nav nav-justified nav-pills">
                <li class="active"><a href="#">INICIO</a></li>
                <li><a href="~/MisUsuarios/Usuarios"><span class="text-warning">Usuario</span></a></li>
                
                             
                
                
            </ul>
        </div>
    </div>
</body>
</html>


<!--header navbar END -->
<!-- SLIDER START-->

<div class="clear"></div>
<!-- SLIDER END-->
<script src="https://use.fontawesome.com/f12e4a6b3c.js"></script>
<!-- Aca termino de pegar-->
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Mi aplicación CONCORDIA</p>
    </footer>
</div>


@RenderSection("scripts", required: false)
</body>
</html>
